html { position: relative;
width: 844px;
height: 390px;
font-family: 'Fredoka';
background: #FFFFFF;
}


.grid {
display: grid;
grid-template-columns: 33% 33% 33%;
grid-template-rows: 0.5fr 0.2fr repeat(3, 0.5fr) 0.2fr;
grid-column-gap: 0px;
grid-row-gap: 0px; 
}

.logo {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  margin-top: 45px;
  margin-left: 150px;
}

.BV {
 grid-area: 2 / 1 / 3 / 4;
 font-family: 'Fredoka';
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 text-align: center;
 margin-bottom: 0px;
  margin-left: 140px;
  margin-top: 20px;
}

.frase {
  grid-area: 3 / 1 / 4 / 4;
  text-align: center;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #646464;
  margin-top: 1px;
  margin-left: 140px;

  
}

.btn {
  grid-area: 4 / 1 / 5 / 4; 
  align-self:center;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 25px;
  padding: 5px 18px;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  margin-left: 210px;
  margin-top: -95px;
  

  
background: #FEC603;
border: 1px solid #D3A503;
box-shadow: 0px 4px 4px #CD9F00;
border-radius: 20px;
 

font-family: 'Fredoka';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-decoration: none;


text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;
}

.entrar {
  grid-area: 5 / 1 / 6 / 4;
  text-align: center;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #646464;
  margin-left: 130px;
  margin-top: -40px;
}

.btn2 {
  margin-left: 3px;
  text-decoration: none;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FEC603;
  
}

