html{
  height: 100%;
}

body {
  background: linear-gradient(#000D1A, #4F1C8E) fixed;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Fredoka';
  
}

.estrelas {
  display: flex;
  background-image: url("Imagens/Group\ 141.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}


.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  margin-top: 0px;
}

.flex-items:nth-child(1) {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;

  align-items: center;
  justify-content: space-between ;
  z-index: 1;
}

.flex-items:nth-child(2) {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  justify-content: center ;
  z-index: 0;
  align-items: center;
}


.flex-items:nth-child(3) {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -60px;
  align-items: center;
  z-index: 1;
}


.menu-fixo1 {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-left: 40px;
  margin-top: 23px;
  
  padding: 18px 23px;

  background: rgba(217, 217, 217, 0.15);
  box-shadow: 0px 3px 7px #344465;
  border-radius: 30px;
}

.menu-fixo2 {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-top: 23px;
  margin-right: 40px ;

  padding: 18px 23px;

  background: rgba(217, 217, 217, 0.15);
  box-shadow: 0px 3px 7px #344465;
  border-radius: 30px;
}

.icon2 {
  padding-right: 15px;
}


.box {
  
  width: 466px;
  height: 310px;
  margin-left: 0px;
  margin-top: 0px;
  background: #FFFFFF;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.lixo {
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
  margin-top: 10px;
  margin-left: 0px;
}

.materiais {
  width: 307.46px;
  height: 133.31px;

  margin-top: 150px;
}