html{
  height: 100%;
}

body {
  background: linear-gradient(#000D1A, #4F1C8E) fixed;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Fredoka';
  
}

.estrelas {
  display: flex;
  background-image: url("Imagens/Frame\ 436.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.montanhas {
  display: flex;
  background-image: url("Imagens/Frame\ 436\(1\).png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.bubby {
  display: flex;
  background-image: url("Imagens/Frame\ 437\(1\).png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.sombra {
  display: flex;
  background-image: url("Imagens/Frame\ 438.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  
  mix-blend-mode: overlay;
  opacity: 0.8;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
  margin-top: 0px;
}

.flex-items:nth-child(1) {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;

  align-items: center;
  justify-content: space-between ;
}

.flex-items:nth-child(2) {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 200px;
}

.menu-fixo1 {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-left: 40px;
  margin-top: 23px;
  
  padding: 18px 23px;

  background: rgba(217, 217, 217, 0.15);
  box-shadow: 0px 3px 7px #344465;
  border-radius: 30px;
}

.menu-fixo2 {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-top: 23px;
  margin-right: 40px ;

  padding: 18px 23px;

  background: rgba(217, 217, 217, 0.15);
  box-shadow: 0px 3px 7px #344465;
  border-radius: 30px;
}

.icon2 {
  padding-right: 15px;
}
