.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: -15px;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  justify-content: space-between;
  
}

.flex-items:nth-child(4) {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

body {
  font-family: 'Fredoka';
  color: #1A1A1A;
}

.titulo {
  font-size: 24px;
  font-weight: 600;
  margin-left: 330px;
  margin-bottom: -25px;
  margin-top: 30px;
  
}

.desc {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #646464;
}

.pular {
  font-weight: 600;
  font-size: 18px;
  margin-left: 700px;
  margin-top: -60px;
  color: #B1B1B1;
  text-decoration: none;
}

.anterior {
  font-weight: 600;
  font-size: 18px;
  color: #B1B1B1;
  text-decoration: none;
  margin-right: 700px;
  margin-top: 56px;
}

.seta {
  margin-left: 700px;
  margin-top: -18px;
}

.pontinho {
  margin-top: -50px;
}
