html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FFFFFF;
  font-family: 'fredoka', sans-serif;
  background-size: cover;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 18%;
}

.logo {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  
}
