* {
    margin: 0;
    padding: 0;
}

.container {
display: grid;
height: 390px;
width: 844px;
grid-template-columns: 1fr;
grid-template-rows: repeat(6, 1fr); 
font-family: "Fredoka";
text-align: center;
  
}

#titulo {
   grid-area: 1 / 1 / 2 / 6;
}

.texto {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: 0.01em;
  color: #1A1A1A;
  text-align: center;
  margin-top: 35px;
}

.caixa1 {
  background-color: lightpink
  grid-area: 2 / 1 / 3 / 6;
}

.form1 {
  border: 1px solid #B1B1B1;
  border-radius: 20px;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  width: 372px;
  box-sizing: border-box;
  height: 44px;
  left: 236px;
  top: 128px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #6C6C6C;
  margin-top: 39px;
}

.caixa2 {
 grid-area: 3 / 1 / 4 / 6; 
}

.form2 {
  border: 1px solid #B1B1B1;
  border-radius: 20px;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  width: 372px;
  box-sizing: border-box;
  height: 44px;
  left: 236px;
  top: 128px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #6C6C6C;
  margin-top: 20px;
}

.esqueceu {
 grid-area: 4 / 1 / 5 / 6;
}

.botao {
 margin-left: -205px;
 margin-top: 7px;
 font-family: 'Fredoka';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0.01em;
 text-decoration-line: underline;
 color: #646464;
}

.esqueceu2 {
  color: #646464;
}
  
.entrar {
  grid-area: 5 / 1 / 6 / 6; 
}

.botao1 {
  width: 80px;
  padding: 5px 18px;
  margin-top: 25px;
  margin-left: 367px;
  
  background: #FEC603;
  border: 1px solid #D3A503;
  box-shadow: 0px 4px 4px #CD9F00;
  border-radius: 20px;

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.btn1 {
    font-family: 'Fredoka';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
  
.nao {
  grid-area: 6 / 1 / 7 / 6; 
}

.botao2{
  margin-top: 15px;
}

  
.npossui {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #646464;
}

.btn2 {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FEC603;
  text-decoration: none;
}